<<<<<<< HEAD
* {
    margin : 0px;
    padding : 0px;
}

#content {
    background-color: aliceblue;
    padding : 20px;
}

.p1 {
    background-color: white;
}

.p2 {
    background-color: aquamarine;
}

nav, header, main, footer {
    margin : 20px;

=======
div {
    background-color: aliceblue;
}

* {
    margin : 0px;
    padding : 0px;
}

#content {
    background-color : aliceblue;
    padding : 20px;
}

.p1 {
    background-color: white;
}

.p2 {
    background-color : aquamarine;
}

head, main, footer {
    margin : 20px;
}

header > p {
    margin : 20px;
>>>>>>> 366ecbc130d3893ecee53cb0f42d4446a9291fc4
}